a{
    text-decoration: none;
}
.answer{
    display: flex;
}
.answer-menu-left{
    background: #F8F9FA;
    max-width: 296px;
    padding: 32px 0;
    .menu-content{
        margin-bottom: 300px;
        .logo{
            padding-left: 32px;
        }
        .menu-list{
            li{
                display: flex;
                align-items: center;
                padding-left: 31px;
    
                margin-bottom: 26px;
                &:hover{
                    border-left: 4px solid #198754;
                    color: #198754;
                }
                a{
                    color: black;
                    margin-left: 18px;
                    display: block;
                    &:hover{
                        color: #198754;
                    }
                }
            }
        }
    }
    
}
.logo{
    margin-bottom: 48px;
}
.menu-bottom{
    display: flex;
    align-items: center;
    padding-left: 32px;
    img{
        width: 40px;
        height: 40px;
        border-radius: 24px;
        vertical-align: middle;
        margin-right: 16px;
    }
}
.fz-style1{
    font-size: 16px;
    line-height: 1.5;
}
.fz-style2{
    font-size: 14px;
    line-height: 2;
}
