// .admin{
//     width: 76.875%;
// }
.admin-top{
    padding: 32px;
    padding-bottom: 44px;
        .nav-item{
            .nav-link{
                color:#212529;
                padding:0 ;
                &:hover{
                    color: $success;
                }
            }
        }
}
.nav-ml-1{
    margin-left: 50px;
}
.admin-right{
    a{
        color:#212529;
        &:hover{
            color: $success;
        }
    }
}
.admin-content{
    padding: 0 32px 0 32px;
    font-size: 16px;
}
.arrow-icon{
    width: 12px;
    color: $success;
}
.admin-pagination{
    padding: 32px;
}
.pagination{
    .page-item{
        .page-link{
            color:#212529;
            border: 1px solid $success;
            padding:6px 11.5px ;
            &:hover{
                background-color: $success;
            }
        }
    }
    .active{

        .page-link{
            background-color: #fff;
        }
    }
}
.modal-body{
    img{
        width: 141px;
        height: 141px;
    }
    .model-body-content{
        width: 275px;
        p{
            margin-bottom: 0;
        }
    }
}
.modal-header{
    border-bottom:none;
}
.fz-font-4{
    font-size: 32px;
}
.fz-font-5{
    font-size: 20px;
}
.spacer-mb-0{
    margin-bottom: 0;
}
.spacer-ml-0{
    margin-left: 10px;
}
.spacer-p-0{
    padding: 0;
}
.form-control{
    background: #F8F9FA;
}
.modal-body-top{
    border-bottom:1px solid #CED4DA;
}
.img-size{
    width: 20px;
    height: 20px;
}
.expand_more {
    display: none;
  }
  .expand_less {
    display: inline-block;
  }
  .collapsed .expand_more {
    display: inline-block;
  }
  
  .collapsed .expand_less {
    display: none;
  }
  .col-form-label{
    padding: 4px 0;
  }
  .form-label{
    margin-bottom: 0;
  }
  .text-co-1{
    color: #CED4DA;
  }