.admin{
    width: 76.875%;
}
.admin-top{
    padding: 32px;
    padding-bottom: 44px;
        .nav-item{
            .nav-link{
                color:#212529;
                padding:0 ;
                &:hover{
                    color: #198754;
                }
            }
        }

}
.nav-ml-1{
    margin-left: 50px;
}
.admin-right{
    a{
        color:#212529;
        &:hover{
            color: #198754;
        }
    }
}
.admin-content{
    padding: 0 32px 0 32px;
    font-size: 16px;
}
.arrow-icon{
    width: 12px;
    height: 12px;
}
.admin-pagination{
    padding: 32px;
}
.pagination{
    .page-item{
        .page-link{
            color:#212529;
            border: 1px solid #198754;
            padding:6px 11.5px ;
            &:hover{
                
                background-color: #198754;
            }
        }
    }
    .active{

        .page-link{
            background-color: #fff;
        }
    }
}
.modal-body{
    img{
        width: 141px;
        height: 141px;
    }
    .model-body-content{
        width: 275px;
        p{
            margin-bottom: 0;
        }
    }
}
.modal-header{
    border-bottom:none;
}
.fz-font-4{
    font-size: 32px;
}
.spacer-mb-0{
    margin-bottom: 0;
}
.form-control{
    background: #F8F9FA;
}
.modal-body-top{
    border-bottom:1px solid #CED4DA;
}
.img-size{
    width: 20px;
    height: 20px;
}