<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="answer-adminhome vh-100">
    <div class="answer-menu">
      <div class="logo">
        <a href="index.html"> <img src="./assets/images/logo-ANSWER.svg" alt=""></a>
      </div>
      <ul class="nav flex-column ">
        <li class="nav-item ">
          <a class="nav-link d-flex align-items-center active" aria-current="page" href="#">
            <span class="material-icons me-3">
              assessment
            </span>
            Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href="#">
            <span class="material-icons me-3">
              question_answer
            </span>
            Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href="assignment.html">
            <span class="material-icons me-3">
              assignment
            </span>
            Assignment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href=" #">
            <span class="material-icons me-3">
              video_library
            </span>
            Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href="admin.html">
            <span class="material-icons me-3">
              supervisor_account
            </span>
            Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href="#">
            <span class="material-icons me-3">
              settings
            </span>
            Settings</a>
        </li>
      </ul>
      <div class="answer-memberarea d-flex align-items-center">
        <a href="#"><img src="./assets/images/andychen.jpeg" alt="andychen"></a>

        <ul class="memberdata list-unstyled d-flex flex-column align-items-start">
          <li>Andy Chen</li>
          <li>
            <a href="mailto:>andy0401@mail.com">andy0401@mail.com</a>
          </li>
        </ul>
      </div>
    </div>
    <%- contents %>
      <!-- <footer class="footer">
          footer
        </footer> -->
  </div>



  <script src="./assets/js/vendors.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>